@import url("styles/header.cs")

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF ;
    }
body {
    background-color: var(--cor-de-fundo);
}

h1 {
    background-color: rgb(137, 192, 224)
}